@charset "utf-8";
/* Reset */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5 tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6 { font-size:100%; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }
/* Common */
.fl { float:left; display: inline; }
.fr { float:right; display: inline; }
.clearfix:after { content:"."; display:block; clear:both; visibility:hidden; font-size:0; line-height:0; height:0; }
.clearfix { *zoom:1; }
.clear { clear:both; }

.tid { display: block; width: 100%; height: 100%; overflow: hidden; text-indent: -999em; }
.yahei { font-family:"Microsoft YaHei","Microsoft JhengHei",STHeiti,MingLiu; }





